html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: montserrat,PingFang SC,Microsoft YaHei,微软雅黑,STXihei,华文细黑,sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  min-height: 100%;
  /* min-width: 375px; */
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #4aa48d;
}

ul {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

@font-face {
  font-family: 'Neue Haas Grotesk Text Pro';
  src: url('../images/fonts/NHaasGroteskTXPro.TTF');
  font-weight: normal;
  font-style: normal;
}

.app-footer {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 5px;
}
.footerMain {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 10px;
}
.app-footer .container {
  text-align: left;
}


.flex {
  display: flex;
}
.column{
   flex-direction: column;
 }
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.justify-content-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.font-sm, .font-small {
  font-size: 0.8em;
}
.font-md {
  font-size: 1.2em;
}
.font-lg {
  font-size: 1.5em;
}
.font-2x {
  font-size: 2em;
}
.font-2p {
  font-size: 2.5em
}
.font-3x {
  font-size: 3em
}
.font-4x {
  font-size: 4em
}
.font-5x {
  font-size: 5em
}
.font-6x {
  font-size: 6em
}
.font-8x {
  font-size: 8em
}
.font-10x {
  font-size: 10em
}

/* Text
-------------------------- */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-light {
  color: #ccc;
}
.text-grey {
  color: #555;
}
.text-muted {
  color: #999;
}
.text-primary {
  color: #4aa48d;
}
.text-black {
  color: #000;
}
.text-white {
  color: #fff;
}
.text-bold {
  font-weight: bold;
}
.text-normal {
  font-weight: normal;
}
.text-lighter {
  font-weight: lighter;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bg-primary {
  background-color: #4aa48d;
}
.bg-white {
  background-color: #fff;
}

/* Show / Hide
-------------------------- */
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.hover-show {
  display: none;
}

/* Float
-------------------------- */
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}
.ml {
  margin-left: 15px;
}
.mr {
  margin-right: 15px;
}
.mt {
  margin-top: 15px;
}
.mb {
  margin-bottom: 15px;
}
.ml-lg {
  margin-left: 30px;
}
.mr-lg {
  margin-right: 30px;
}
.mt-lg {
  margin-top: 30px;
}
.mb-lg {
  margin-bottom: 30px;
}
.ml-hg {
  margin-left: 45px;
}
.mr-hg {
  margin-right: 45px;
}
.mt-hg {
  margin-top: 45px;
}
.mb-hg {
  margin-bottom: 45px;
}
.ml-mg{
  margin-left: 60px;
}
.mr-mg {
  margin-right: 60px;
}
.mt-mg {
  margin-top: 60px;
}
.mb-mg {
  margin-bottom: 60px;
}
.ml-sm {
  margin-left: 10px;
}
.mr-sm {
  margin-right: 10px;
}
.mt-sm {
  margin-top: 10px;
}
.mb-sm {
  margin-bottom: 10px;
}
.ml-xs {
  margin-left: 5px;
}
.mr-xs {
  margin-right: 5px;
}
.mt-xs {
  margin-top: 5px;
}
.mb-xs {
  margin-bottom: 5px;
}
.pl-hg {
  padding-left: 50px;
}
.pr-hg {
  padding-right: 50px;
}
.pt-hg {
  padding-top: 50px;
}
.pb-hg {
  padding-bottom: 50px;
}
.pl-lg {
  padding-left: 30px;
}
.pr-lg {
  padding-right: 30px;
}
.pt-lg {
  padding-top: 30px;
}
.pb-lg {
  padding-bottom: 30px;
}
.pl {
  padding-left: 15px;
}
.pr {
  padding-right: 15px;
}
.pt {
  padding-top: 15px;
}
.pb {
  padding-bottom: 15px;
}
.pl-sm {
  padding-left: 10px;
}
.pr-sm {
  padding-right: 10px;
}
.pt-sm {
  padding-top: 10px;
}
.pb-sm {
  padding-bottom: 10px;
}
.pl-xs {
  padding-left: 5px;
}
.pr-xs {
  padding-right: 5px;
}
.pt-xs {
  padding-top: 5px;
}
.pb-xs {
  padding-bottom: 5px;
}
.p-0 {
  padding: 0px !important;
}
.icon {
  width: 24px;
  height: 24px;
}
.icon-xs {
  width: 20px;
  height: 20px;
}
.icon-mini {
  width: 16px;
  height: 16px;
}
.icon-pen {
  width: 12px;
  height: 12px;
}

.el-divider__text {
  font-size: 22px;
  color: #888;
  padding: 0 20px;
  background: #fff;
  white-space: nowrap;
}
.grey-divider > .el-divider__text {
  color: #888;
  background: #f4f4f4;
  white-space: nowrap;
}
.el-timeline-item__wrapper {
  top: -12px;
}
.el-timeline-item__tail {
  border-left: 2px dashed #E4E7ED;
}
.el-range-editor.is-active, .el-range-editor.is-active:hover {
  border-color: #4aa48d;
}
.el-select .el-input__inner:focus, .el-textarea__inner:focus {
  border-color: #4aa48d;
}
.el-select .el-input.is-focus .el-input__inner {
  border-color: #4aa48d;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: #4aa48d;
}
.el-date-table td.today span {
  color: #4aa48d;
}
.el-date-table td.available:hover {
  color: #4aa48d;
}
.el-pager li.active {
  color: #4aa48d;
}
.el-pager li:hover {
  color: #4aa48d;
}
.el-checkbox__inner:hover {
  border-color: #4aa48d;
}
.el-input-number__decrease:hover, .el-input-number__increase:hover {
  color: #4aa48d;
}
.el-button:focus, .el-button:hover {
  color: #4aa48d;
  border-color: rgba(#4aa48d, 0.5);
  background-color: rgba(#4aa48d, 0.3);
}
.el-button--primary:focus, .el-button--primary:hover {
  color: #fff;
  border-color: rgba(#4aa48d, 0.5);
  background-color: rgba(#4aa48d, 0.8);
}
.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close {
  color: #4aa48d;
}
.el-message-box__headerbtn:focus .el-message-box__close, .el-message-box__headerbtn:hover .el-message-box__close {
  color: #4aa48d;
}
.el-date-table td.current:not(.disabled) span {
  background-color: #4aa48d;
}
.el-picker-panel__icon-btn:hover {
  color: #4aa48d;
}
.el-date-table td.end-date span, .el-date-table td.start-date span {
  background-color: #4aa48d;
}

.el-popover {
  padding: 0;
  min-width: 100px;
}

[v-cloak] {
  display: none;
}

/* website样式
-------------------------- */
.nav-head {
  height: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  background: white;
  white-space:nowrap
}
.nav {
  max-height: 50px;
  padding: 0 24px;
}
.offset {
  height: 49px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  padding-top: 0;
}
.border-shadow {
  height: 50px;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.menu_item {
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
  cursor: pointer;
  white-space:nowrap
}
.logo {
  padding-top: 9px;
  box-sizing: content-box;
  height: 32px;
}
.lang_icon {
  width: 24px;
  height: 24px;
  margin: 0 25px;
  padding-top: 4px;
}
.pop_content {
  padding: 8px 0;
}
.pop_item {
  padding: 8px 12px;
  cursor: pointer;
}
.pop_item:hover {
  background-color: rgba(245, 245, 245, 1);
  color: #4aa48d;
}
.reference:hover {
  background-color: rgba(245, 245, 245, 1);
  color: #4aa48d;
}
.login {
  height: 32px;
  border-radius: 16px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  background: #000;
  padding: 0 16px;
  cursor: pointer;
}
.nav-phone {
  color: #777;
}
.collapse-menu {
  display: none;
}
/** banner block */
.banner-block {
  /* height: 500px; */
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

.banner-top {
  /* width: 82%; */
  
  width: 672px;
  margin-left: calc(50% - 336px);
  display: flex;
  /* justify-content: center; */
  padding-bottom: 100px;
}

.banner-content {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 100px;
}
.banner-content2 {
  font-size: 28px;
  margin-bottom: 70px;
}
.banner-content-e {
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 80px;
}
.banner-content2-e {
  font-family: Helvetica;
  font-size: 28px;
  margin-bottom: 70px;
}
.banner-learnBtn {
  background: #4aa48d;
  color: #fff;
  padding: 16px 36px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 6px 12px rgba(0,0,0,.3);
  font-size: 18px;
}
.banner-learnBtn:hover {
  background: #40aa8f;
  color: #fff;
}

.banner-left {
  padding-top: 50px;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.content {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}
.content2 {
  font-size: 18px;
  margin-bottom: 40px;
}
.learnBtn {
  background: #4aa48d;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
}
.learnBtn:hover {
  background: #40aa8f;
  color: #fff;
}
.banner-right {
  padding-top: 50px;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-bottom {
  width: 100%;
  position: relative;
}
.video-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
}
.video-top {
  height: 100px;
}
.video-bottom {
  height: 360px;
}
.video-img {
  width: 112px;
  height: 112px;
  cursor: pointer;
}
.demo-video {
  box-shadow: 1px 8px 16px rgba(0,0,0,.3);
  position: relative;
  width: 672px;
  height: 385px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
.demo-video-play-border {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% + 10px);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 112px;
  width: 112px;
  border: 2px solid rgba(0,0,0,1);
}
.demo-video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-block, .price-block {
  width: 74%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0 20px;
}
.workstep {
  cursor: pointer;
  width: 240px;
  background: rgba(225, 225, 225, 0.3);
  padding: 8px 12px;
  margin-left: 15px;
  color: #000;
  text-align: center;
  border-radius: 5px;
  /* box-shadow: 2px 3px 3px rgba(0,0,0,.3); */
  transition: all 0.2s;
}
.active_workstep {
  width: 250px;
  margin-left: 10px;
  background: #4aa48d;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0,0,0,.3);
}
.active_workstep_y{
  width: 250px;
  margin-left: 10px;
  background: #4aa48d;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0,0,0,.3);
}
.step-img {
  width: calc(100% - 340px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.workflow-img {
  width: 82%;
  /* animation: fadeInRight 0.5s ease .2s 1 both; */
  box-shadow: 0px 4px 8px rgba(0,0,0,.3);
  transition: all .2s;
}
.one-stop {
  width: 650px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}
.onestop-feature {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.onestop-icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.service {
  width: 82%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 0;
  justify-content: center;
}
.service-img {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0,0,0,.3);
}
.service-content {
  width: 25%;
  margin-left: 40px;
}
.ai-sys {
  padding-top: 150px;
  padding-bottom: 50px;
  margin-top: -80px;
  background: #f4f4f4;
}
.sys-info {
  width: 720px;
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
}
.sys-info-c {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.lower-img {
  width: 275px;
  margin-left: -50px;
  object-fit: contain;
}
.packages {
  background: #f4f4f4;
  flex-direction: column;
}
.package-top {
  width: 74%;
  height: 30px;
  margin: 0 auto;
  background: #f4f4f4;
  border-bottom: 1px solid #dfdfdf;
  /* box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.1); */
}
.package-hd {
  width: 400px;
}
.package-name {
  width: 120px;
  padding: 20px 10px 10px;
  cursor: pointer;
  transition: all 0.2s;
  border-bottom: 3px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.active_pname {
  color: #333;
  font-weight: 500;
  border-bottom: 3px solid #4aa48d;
}
.package-bd {
  padding-top: 60px;
  width: 1080px;
  height: 450px;
  margin: 0 auto;
  /* justify-content: space-between; */
}

.package-title {
  padding-bottom: 18px;
  border-bottom: 2px solid #ccc;
}
.inactive_p {
  width: 216px;
  padding: 8px 0;
}
.active_p {
  width: 216px;
  padding: 4px 0;
  flex-shrink: 0;
}
.package {
  width: 190px;
  padding: 20px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: all 0.2s;
  /* margin: 20px; */
}
.active_package {
  padding: 30px 0;
  width: 200px;
  border: 1px solid #4aa48d;
  background: #4aa48d;
  box-shadow: 0px 6px 12px rgba(0,0,0,.4);
}

.package-price {
  text-align: center;
}
.package-size {
  height: 16px;
}
/* .pkg-h-c {
  height: 120px;
} */
.tip {
  width: 135px;
}

.pkg-btn {
  background: transparent;
  color: #555;
  border: 1px solid #999;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.pkg-btn:hover {
  background: rgba(#4aa48d, 0.3);
  color: #fff;
  border: 1px solid #4aa48d;
}
.activepkg-btn {
  border: 1px solid #236958;
  background: #236958;
  color: #fff;
}
.activepkg-btn {
  background: #236958;
  border: 1px solid #236958;
  color: #fff;
}
.features {
  padding: 40px 0 0;
  background: #f4f4f4;
}
.feature-block {
  /* width: 74%; */
  margin: 0 auto;
  flex-direction: column;
}
.feature-top {
  justify-content: space-around;
  width: 1080px;
  padding-top: 60px;
}
.feature-bt {
  justify-content: space-around;
  width: 480px;
}
.feature-card {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 180px;
  height: 135px;
  box-shadow: 0px 4px 8px rgba(0,0,0,.3);
  border-radius: 5px;
  cursor: pointer;
  background-size: contain;
  background-image: url('../images/background-img.png');
  background-position:center;
  background-repeat: no-repeat;
  transition: all .1s;
}
.feature-card-en {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 180px;
  height: 160px;
  box-shadow: 0px 4px 8px rgba(0,0,0,.3);
  border-radius: 5px;
  cursor: pointer;
  background-size: contain;
  background-image: url('../images/background-img.png');
  background-position:center;
  background-repeat: no-repeat;
  transition: all .1s;
}

.feature-title {
  padding-bottom: 5px;
  /* text-decoration: underline; */
}
.feature-des {
  font-size: 12px;
}
.active_card {
  background: #4aa48d;
  color: #fff;
}
.card-box {
  width: 645px;
  height: 375px;
}
.feature-carousel {
  margin-top: -50px;
  padding-top: 150px;
  padding-bottom: 80px;
}
.carousel-bd {
  width: 74%;
}
.carousel-img {
  padding: 0px;
  width: 432px;
  height: 252px;
  object-fit: contain;
  box-shadow: 0px 4px 8px rgba(0,0,0,.3);
}
.el-carousel__container {
  height: 300px;
}

.client-block {
  width: 82%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.client-bd {
  background: #f4f4f4;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
/* .slide-fade-enter-active {
  animation: fadeInRight 1s ease .1s 1 both;
}
.slide-fade-leave-active {
  animation: fadeOutRight 1s ease .1s 1 both;
} */
.client-item {
  padding: 50px 20%;
  justify-content: space-between;
  align-items: center;
  
  visibility: unset !important;
  font-size: 1.5em;
  font-weight: 700;
  transition: all 0.3s;
}
.client-header {
  flex: auto;
}
.client-img {
  width: 250px;
  box-shadow: 0px 4px 8px rgba(0,0,0,.3);
}

.el-scrollbar {
  height: 100%;
  width: 100%;
}
.el-scrollbar__wrap {
  overflow-y: hidden;
}
.scrollbar {
  width: 60%;
  margin: 0 auto;
}
.clients-img {
  width: 100px;
  height: 100px;
  padding-bottom: 12px;
  border-bottom: 3px solid transparent;
  transition: all 0.1s;
}
.border-bottom {
  border-bottom: 3px solid #4aa48d;
}
.active-label {
  color: #4aa48d;
}
.contact-block {
  width: 82%;
  margin: 0 auto;
}
.contact-bd {
  font-size: 22px;
  align-items: center;
  justify-content: center;
}
.qr-code {
  width: 320px;
  height: 320px;
}
.contact-icon {
  width: 50px;
  height: 50px;
}

/* 客服浮标 */
.contact-service {
  position: fixed;
  right: 30px;
  bottom: 150px;
  display: flex;
  align-items: center;
  height: 60px;
}
.service-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0,0,0,.3);
  z-index: 99;
}
.larger {
  width: 72px;
  height: 72px;
}
.fixed-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.8s;
  z-index: 101;
}
.contact-btn {
  position: fixed;
  right: 84px;
  bottom: 42px;
  display: flex;
  align-items: center;
  width: 124px;
  height: 30px;
  padding: 0px 8px;
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0,0,0,.5);
}
.btn-hide {
  right: 84px;
  bottom: 42px;
  /* animation: fadeOutRight 0.8s ease .1s 1 both; */
}
.arrow-p {
  height: 16px;
  width: 16px;
}

.qr-dialog {
  position: fixed;
  right: 65px;
  bottom: 135px;
  width: 240px;
  padding: 30px 25px;
  /* height: 200px; */
  border-radius: 3%;
  box-shadow: 1px 2px 12px rgba(0,0,0,.4);
  z-index: 95;
  animation: fadeInRight 0.3s ease .05s 1 both;
}
.xiaoya {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.qr-service {
  width: 135px;
  height: 135px;
}

.divAnimation {
  animation: fadeInUp 1s ease .1s 1 both;
  visibility: unset !important;
}

.message-input {
  width: 374px;
}
.message-icon {
  width: 200px;
  height: 200px;
  margin-left: 40px;
}
.submit {
  width:374px;
  height:48px;
  background:rgba(74,164,141,1);
  border-radius:3px;
  margin-top: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

@-webkit-keyframes fadeInUpper{
  0%{opacity:0;-webkit-transform:translate3d(100%,100%,0);transform:translate3d(100%,100%,0)}
  100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInUpper{
  0%{opacity:0;-webkit-transform:translate3d(100%,100%,0);-ms-transform:translate3d(100%,100%,0);transform:translate3d(100%,100%,0)}
  100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none}
}
@-webkit-keyframes fadeInUp{
  0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
  100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInUp{
  0%{opacity:0;-webkit-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
  100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none}
}
@-webkit-keyframes fadeInRight{
  0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
  100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInRight{
  0%{opacity:0;-webkit-transform:translate3d(100%,0,0);-ms-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
  100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none}
}
@-webkit-keyframes fadeOutRight{
  100%{opacity:1;-webkit-transform:none;transform:none}
  0%{opacity:1;-webkit-transform:translate3d(10%,0,0);transform:translate3d(10%,0,0)}
}
@keyframes fadeOutRight{
  100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none}
  0%{opacity:1;-webkit-transform:translate3d(10%,0,0);-ms-transform:translate3d(10%,0,0);transform:translate3d(10%,0,0)}
}

@media (max-width: 991.98px) {
  .content {
    font-size: 22px;
  }
  .carousel-img {
    width: 432px;
    height: 252px;
    object-fit: contain;
    flex-shrink: 0;
  }
  .el-carousel__container {
    height: 300px;
  }
  
  .carousel-bd {
    width: 100%;
  }
  .nav-head {
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    background: white;
    white-space:nowrap
  }
  .nav {
    padding: 0 0 0 15px;
  }
  .lang_icon {
    margin: 0 15px 0 10px;
  }
  .navbar-nav {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .collapse-menu {
    display: block;
  }
  .nav-phone {
    display: none;
  }
  .collapse-icon {
    width: 28px;
    height: 28px;
  }
  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
    transition: all 0.1s;
  }
  .banner-left {
    /* height: 250px; */
  }
  .banner-right {
    height: 250px;
    padding-top: 0;
  }
  .play-img {
    width: 112px;
    height: 112px;
    cursor: pointer;
  }
  .product-block {
    width: 85%;
  }
  .step-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .one-stop {
    width: 95%;
    padding-top: 50px;
  }
  .system {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .service-img, .service-content {
    width: 85%;
    margin: 0px auto 20px;
  }
  .sys-info {
    width: 84%;
    padding: 20px 8%;
  }
  .lower-img {
    width: 85%;
    margin-left: 0px;
    margin: 0 auto;
    margin-top: 20px;
    object-fit: contain;
  }
  .package-bd {
    padding-top: 60px;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-direction: column;
  }
  .active_p {
    width: auto;
  }
  .inactive_p {
    width: auto;
  }
  .package {
    margin: 15px auto;
  }
  .feature-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding-top: 30px;
  }
  .feature-bt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding-top: 0;
  }
  .feature-card {
    margin: 10px auto;
  }
  .feature-carousel {
    margin-top: -50px;
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .menu-sm, .menu-hide {
    display: none !important;
  }
  .menu-show {
    display: block !important;
  }
}


@media (max-width: 768px) {
  .qr-code {
    width: 280px;
    height: 280px;
  }
  .video-top {
    height: 100px;
  }
  .video-bottom {
    height: 280px;
  }
  .banner-top {
    width: 480px;
    margin: 0 auto;
  }
  .demo-video {
    position: relative;
    width: 480px;
    height: 277.5px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
  }
  .client-item {
    padding: 50px 20px;
    font-size: 1.2em;
    font-weight: 500;
  }
  .client-img {
    width: 150px;
  }
  .scrollbar {
    width: 90%;
    margin: 0 auto;
  }
  .clients-img {
    width: 70px;
    height: 70px;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
  }
  .border-bottom {
    border-bottom: 3px solid #4aa48d;
  }
  .carousel-img {
    width: 378px;
    height: 220.5px;
    object-fit: contain;
    flex-shrink: 0;
  }
  .el-carousel__container {
    height: 280px;
  }
}

@media (max-width: 576px) {
  .qr-code {
    width: 240px;
    height: 240px;
  }
  .video-top {
    height: 100px;
  }
  .video-bottom {
    height: 135px;
  }
  .video-img {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .banner-top {
    width: 320px;
    margin: 0 auto;
  }
  .banner-content {
    font-size: 34px;
  }
  .banner-content2 {
    font-size: 22px;
  }
  .banner-content-e {
    font-size: 32px;
  }
  .banner-content2-e {
    font-size: 22px;
  }
  .demo-video {
    position: relative;
    width: 320px;
    height: 183px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
  }

  .scrollbar {
    width: 90%;
    margin: 0 auto;
  }
  .clients-img {
    width: 45px;
    height: 45px;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
  }
  .border-bottom {
    border-bottom: 3px solid #4aa48d;
  }

  .carousel-img {
    width: 250px;
    height: 144px;
    object-fit: contain;
    flex-shrink: 0;
  }
  .el-carousel__container {
    height: 200px;
  }
  .contact-bd {
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .column-wechat {
    margin-left: 0;
    margin-top: 20px;
  }
  .message-input {
    width: 260px;
  }
  .message-icon {
    width: 160px;
    height: 160px;
    margin-top: 40px;
    margin-left: 0;
  }
  .submit {
    width:260px;
    height:48px;
  }
}

@media (max-width: 376px) {
  
  .footer_beian {
    flex-direction: column;
  }
  .package-hd  {
    width: 100%;
  }
  .package-name {
    width: 33.33%;
  }
  .el-divider__text {
    white-space: normal;
  }
  .grey-divider > .el-divider__text {
    white-space: normal;
  }
  .client-item {
    padding: 30px 10px;
    font-size: 1em;
    font-weight: 500;
  }
  .client-img {
    width: 100px;
  }
  .scrollbar {
    width: 95%;
    margin: 0 auto;
  }
  .clients-img {
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
  }
  .border-bottom {
    border-bottom: 3px solid #4aa48d;
  }
  .carousel-img {
    width: 162px;
    height: 94.5px;
    object-fit: contain;
    flex-shrink: 0;
  }
  .el-carousel__container {
    height: 150px;
  }
}