<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="google-site-verification=H-iK-oxkYNioXyUaRfFNieVIDf1NV-86lFiDIsGDt74" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Translai combines advanced AI technology with an agile project management system to design an efficient, intelligent user-oriented system. This system optimizes the traditional video/audio localization process, making it a one-stop video localization experience, reducing the labor costs by 60%-80%.">
    <meta name="keywords" content="Voice translator, SRT Generator Online, Subtitle Translator, Subtitling Translation, Audio Translation, Auto Subtitle Generator, Media Localization, Video Translation, Multimedia Translation Services, translate video subtitle online, Youtube Video Translator, Subtitling Service, Video Translation Service, Multimedia Translation, Cloud based Multimedia Translation, Video Translation Software, Video Subtitle Translation, Translate Video Software, Media localization and management, subtitling translation service">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">

    <title>Translai | Cloud-based Multimedia Translation and Project Management Solutions</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="shortcut icon" href="../images/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css?v=1.0.0">
    <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-71MWWVFT17"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-71MWWVFT17');
    </script>

  </head>
<body>


<noscript>
  <strong>We're sorry but xpath doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
  
<div class="container" id="app" v-cloak>
  <div :class="'nav-head' + (offset ? ' offset': '')">
    <nav class="nav flex align-items-center space-between" style="padding: 0 16px;">
      <div class="nav-left flex">
        <a class="nav-item">
          <img src="../images/logo.png" class="logo" alt="logo" />
        </a>
        <div class="ml flex align-items-center menu-sm">
          <div class="menu_item" v-for="menu in menuList" :key="menu.goto" style="margin: 0 6px;">
            <a v-if="menu.goto !=='free' && menu.goto !=='contact'" :href="'#' + menu.goto" @click="clickTopNavigation(menu.label)" :class="{ 'active-label': active_label == menu.label }">{{ menu.label }}</a>
            <a v-if="menu.goto =='contact'" :href="'#' + menu.goto" @click="clickTopNavigation(menu.label)" :class="{ 'active-label': active_label == menu.label }" data-agl-cvt="2">{{ menu.label }}</a>
            <a v-if="menu.goto =='free'" @click="jumpMgrLogin(menu.label)" data-agl-cvt="7">{{ menu.label }}</a>
          </div>
        </div>
      </div>
      <div class="nav-right flex align-items-center">
        <div class="nav-phone mr">{{ 'Téléhone: 4008344504' }}</div>
        <div class="collapse-menu" @click="showMenu = !showMenu">
          <img class="collapse-icon mt-xs" src="../images/collapse.svg" alt="navigation">
        </div>
        <a @click="toQa()" class="menu-sm">{{ "Guide d'utilisation" }}</a>
        <el-popover
          v-model="langShow"
          placement="bottom-end"
          width="60"
          trigger="hover">
          <img slot="reference" v-if="lang == 'zh'" src="../images/lang_cn_black.svg" class="lang_icon" alt="lang_cn" />
          <img slot="reference" v-if="lang == 'en'" src="../images/lang_en_black.svg" class="lang_icon" alt="lang_en" />
          <img slot="reference" v-if="lang == 'fr'" src="../images/lang_fr_black.svg" class="lang_icon" alt="lang_fr" />
          <div v-if="region == 'CN'" class="pop_content">
            <div class="pop_item flex-center" @click="changeLang('zh')">{{'中文'}}</div>
            <div class="pop_item flex-center" @click="changeLang('en')">{{'English'}}</div>
            <div class="pop_item flex-center" @click="changeLang('fr')">{{'Français'}}</div>
          </div>
          <div v-else class="pop_content">
            <div class="pop_item flex-center" @click="changeLang('en')">{{'English'}}</div>
            <div class="pop_item flex-center" @click="changeLang('fr')">{{'Français'}}</div>
            <div class="pop_item flex-center" @click="changeLang('zh')">{{'中文'}}</div>
          </div>
        </el-popover>
        <el-popover
          placement="bottom-end"
          trigger="hover">
          <div slot="reference" class="login menu-sm">{{'Connexion/Inscription'}}</div>
          <div class="pop_content">
            <div class="pop_item flex" @click="toLogin('mgr')">{{"Individuel/équipe- se connecter/s'inscrire"}}</div>
            <div class="pop_item flex" @click="toLogin('web')">{{"Traducteur et relecteur- se connecter/ s'inscrire"}}</div>
            <div class="pop_item flex" @click="toLogin('dms')">{{'Connexion agent partenaire'}}</div>
          </div>
        </el-popover>
        
      </div>
      
    </nav>
    
  </div>

  <div :class="'collapse navbar-collapse collapse-menu' + (!showMenu ? ' menu-hide': '')">
    <ul class="navbar-nav">
      <li v-for="menu in menuList" :key="menu.goto" class="menu_item flex-center">
        <a v-if="menu.goto !=='free' && menu.goto !=='contact'" :class="{ 'active-label': active_label == menu.label }" @click="clickTopNavigation(menu.label)">{{ menu.label }}</a>
        <a v-if="menu.goto =='contact'" :href="'#' + menu.goto" :class="{ 'active-label': active_label == menu.label }" @click="clickTopNavigation(menu.label)" data-agl-cvt="2">{{ menu.label }}</a>
        <a v-if="menu.goto =='free'" @click="jumpMgrLogin(menu.label)" data-agl-cvt="7">{{ menu.label }}</a>
      </li>
      <li class="menu_item flex-center">
        <a @click="toQa()">{{ "Guide d'utilisation" }}</a>
      </li>
      <li class="menu_item flex-center">
        <a @click="toLogin('mgr')">{{"Individuel/équipe- se connecter/s'inscrire"}}</a>
      </li>
      <li class="menu_item flex-center">
        <a @click="toLogin('web')">{{"Traducteur et relecteur- se connecter/ s'inscrire"}}</a>
      </li>
      <li class="menu_item flex-center">
        <a @click="toLogin('dms')">{{'Connexion agent partenaire'}}</a>
      </li>
    </ul>
  </div>

  <!-- banner图 -->
  <div class="banner-block" id="home">
    <div class="banner-top">
      <div class="banner-top-body">
        <div class="banner-content-e">
          {{"Solution unique pour la traduction audio et vidéo"}}
          <!-- <br>
          {{"pilotée par l'IA"}} -->
        </div>
        <div class="banner-content2-e">{{"「Une nouvelle génération de fournisseur de services linguistiques d'interaction homme-machine IA」"}}</div>
        <a class="banner-learnBtn" @click="jumpMgrLogin('Essai gratuit')">{{'Essai gratuit'}}</a>
      </div>
    </div>

    <div class="banner-bottom">
      <div class="bg-white video-top"></div>
      <div class="bg-primary video-bottom"></div>
      <div class="video-content">
        <div class="demo-video flex-center" :style="isPlay ? 'height: auto;':''">
          <video id="playVideo" ref="playVideo" width="100%" height="100%" :poster="region == 'CN' ? '../images/poster.png' : ''" controls="controls" style="display: unset;object-fit: cover;">
            <source :src="translai_video" type="video/mp4" />
          </video>
          <div class="demo-video-play" :style="isPlay ? 'display: none':''">
            <img @click="playClick()" src="../images/play.png" class="video-img" alt="play_icon" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 工作流 -->
  <div class="product-block" id="workflow">
    <el-divider>{{ "Processus interactif entre l'IA et l'homme" }}</el-divider>
    <div class="flex pl-hg pt-hg menu-hide">
      <el-timeline style="padding: 80px 0 40px 0;width: 320px;">
        <el-timeline-item
          v-for="(step, index) in worksteps"
          :key="index"
          :color="active_step == step ? (step == 'proofreading' || step == 'manual' ? '#4aa48d' : '#4aa48d') : ''"
          size="large">
          <div @click="newStep(step)" class="workstep" :class="active_step == step ? (step == 'proofreading' || step == 'manual' ? 'active_workstep_y' : 'active_workstep') : ''">
            {{ zhSteps[step]}}
            <img v-if="(step == 'proofreading' || step == 'manual') && active_step == step" class="icon-pen ml-xs" src="../images/pen-w.png" alt="pen">
            <img v-if="(step == 'proofreading' || step == 'manual') && active_step != step" class="icon-pen ml-xs" src="../images/pen-b.png" alt="pen">
          </div>
        </el-timeline-item>
      </el-timeline>
      <div class="step-img">
        <img v-if="active_step === 'upload'" class="workflow-img" src="../images/fr_upload.png" alt="upload">
        <img v-if="active_step === 'transcribe'" class="workflow-img" src="../images/fr_transcribe.png" alt="transcribe">
        <img v-if="active_step === 'proofreading'" class="workflow-img" src="../images/fr_proofreading.png" alt="proofreading">
        <img v-if="active_step === 'translation'" class="workflow-img" src="../images/fr_translation.png" alt="translation">
        <img v-if="active_step === 'manual'" class="workflow-img" src="../images/fr_manual.png" alt="manual">
        <img v-if="active_step === 'confirmation'" class="workflow-img" src="../images/fr_confirmation.png" alt="confirmation">
        <img v-if="active_step === 'download'" class="workflow-img" src="../images/fr_download.png" alt="download">
      </div>
    </div>

    <div class="pt hide menu-show">
      <el-timeline style="padding: 60px 0;width: 320px;margin: 0 auto;">
        <el-timeline-item
          v-for="(step, index) in worksteps"
          :key="index"
          :color="active_step == step ? (step == 'proofreading' || step == 'manual' ? '#4aa48d' : '#4aa48d') : ''"
          size="large">
          <div @click="newStep(step)" class="workstep" :class="active_step == step ? (step == 'proofreading' || step == 'manual' ? 'active_workstep_y' : 'active_workstep') : ''">
            {{ zhSteps[step]}}
            <img v-if="(step == 'proofreading' || step == 'manual') && active_step == step" class="icon-pen ml-xs" src="../images/pen-w.png" alt="pen">
            <img v-if="(step == 'proofreading' || step == 'manual') && active_step != step" class="icon-pen ml-xs" src="../images/pen-b.png" alt="pen">
          </div>
        </el-timeline-item>
      </el-timeline>
      <div class="step-img">
        <img v-if="active_step === 'upload'" class="workflow-img" src="../images/fr_upload.png" alt="upload">
        <img v-if="active_step === 'transcribe'" class="workflow-img" src="../images/fr_transcribe.png" alt="transcribe">
        <img v-if="active_step === 'proofreading'" class="workflow-img" src="../images/fr_proofreading.png" alt="proofreading">
        <img v-if="active_step === 'translation'" class="workflow-img" src="../images/fr_translation.png" alt="translation">
        <img v-if="active_step === 'manual'" class="workflow-img" src="../images/fr_manual.png" alt="manual">
        <img v-if="active_step === 'confirmation'" class="workflow-img" src="../images/fr_confirmation.png" alt="confirmation">
        <img v-if="active_step === 'download'" class="workflow-img" src="../images/fr_download.png" alt="download">
      </div>
    </div>
  </div>

  <!-- 产品介绍 -->
  <div id="product">
    <div class="price-block">
      <el-divider>{{ 'Deux types de services, un choix varié' }}</el-divider>
      <div class="flex-center pb-lg">
        <div class="one-stop">
          <div class="content">{{'Service A : Service à guichet unique IA-humain'}}</div>
          <div class="font-md">{{"Révolutionner le modèle traditionnel en matière d'externalisation linguistique et offrir des services des services de traduction personnalisés"}}<span class="font-lg text-primary"> 30%-50% </span>{{"moins chers que le prix du marché"}}</div>
          <div class="onestop-features flex space-between mt-hg">
            <div class="onestop-feature mr">
              <img class="onestop-icon" src="../images/ais.png" alt="ai">
              <div class="text-bold text-primary mt">
                {{ 'Relecture manuelle + IA' }}
              </div>
              <div class="mt-xs">
                {{ "Fournir un service de relecture manuelle basé sur l'IA" }}
              </div>
            </div>
            <div class="onestop-feature">
              <img class="onestop-icon" src="../images/custom.png" alt="customization">
              <div class="text-bold text-primary mt">
                {{ 'Une équipe de traducteurs personnalisée' }}
              </div>
              <div class="mt-xs">
                {{ "Nous vous mettons en relation avec une équipe permanente de traducteurs et vous fournissons des services à long terme en fonction des besoins linguistiques et du secteur d'activité" }}
              </div>
            </div>
          </div>
          <div class="onestop-features flex space-between mt-hg">
            <div class="onestop-feature mr">
              <img class="onestop-icon" src="../images/secure.png" alt="secure">
              <div class="text-bold text-primary mt">
                {{ 'Sécurité du contenu' }}
              </div>
              <div class="mt-xs">
                {{ "Compte cloud indépendant, sûr et sécurisé" }}
              </div>
            </div>
            <div class="onestop-feature">
              <img class="onestop-icon" src="../images/point.png" alt="online">
              <div class="text-bold text-primary mt">
                {{ 'Vérification et évaluation en ligne' }}
              </div>
              <div class="mt-xs">
                {{ "Consultez vos documents en ligne, sans avoir à transférer des fichiers dans les deux sens, et les traducteurs peuvent être évalués" }}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- <div class="border-shadow"></div> -->

    <div class="service flex menu-hide">
      <div class="service-img">
        <img src="https://transflow-transcribe-res-prod.s3.cn-northwest-1.amazonaws.com.cn/source/onestop-f.gif" style="width: 100%;" alt="onestop">
      </div>
      <div class="service-content">
        <div class="flex align-items-center">
          <img src="../images/check.svg" class="icon mr" alt="check">
          {{ "Ouverture de compte gratuite + Données gratuites pour la première commande" }}
        </div>
        <div class="flex align-items-center mt-sm">
          <img src="../images/check.svg" class="icon mr" alt="check">
          {{ "Réalisation d'une démo gratuite de 2 minutes" }}
        </div>
        <div class="flex align-items-center mt-sm">
          <img src="../images/check.svg" class="icon mr" alt="check">
          {{ "Devis basé sur la langue, le contenu et le nombre de vidéos du client" }}
        </div>
        <div class="flex align-items-center mt-sm">
          <img src="../images/check.svg" class="icon mr" alt="check">
          {{ "Super rentable, 30 à 50 % moins cher que le prix du marché" }}
        </div>
        <div class="flex">
          <div class="learnBtn mt-lg" @click="contactService('Contactez-Nous')">{{'Contactez-Nous'}}</div>
        </div>
        
      </div>
    </div>

    <div class="ai-sys flex-center menu-hide">
      <div class="sys-info">
        <div class="content">{{"Service B: produit SaaS de traduction assistée par l'IA"}}</div>
        <div class="font-md mb-hg">{{"Obtenez un système de traduction digitale en une minute, idéal pour les équipes/particuliers disposant de leurs propres traducteurs"}}</div>
        <div class="flex">
          <div>
            <div class="flex align-items-center mt-xs">
              <img src="../images/AI.png" class="icon-xs mr-sm" alt="ai">
              {{ "Transcription  et traduction par l'IA + timeline par l'IA + Fusionnement des vidéos sur le cloud" }}
            </div>
            <div class="flex align-items-center mt-xs">
              <img src="../images/huge.png" class="icon-xs mr-sm" alt="massive">
              {{ "Le système de gestion de projet permet à un seul administrateur de gérer facilement un grand nombre de vidéos" }}
            </div>
            <div class="flex align-items-center mt-xs">
              <img src="../images/cloud.png" class="icon-xs mr-sm" alt="cloud">
              {{ "Nombre illimité de personnes collaborant sur le cloud" }}
            </div>
            <div class="flex align-items-center mt-xs">
              <img src="../images/service.png" class="icon-xs mr-sm" alt="service">
              {{ "Assistance en direct du service clientèle" }}
            </div>
          </div>
          <img class="lower-img" style="width:240px;margin-top: 0px;" src="../images/lower-fr.png" alt="lower_cost">
        </div>
      </div>
      
    </div>

    <div class="hide menu-show system">
      <div class="service-img">
        <img src="https://transflow-transcribe-res-prod.s3.cn-northwest-1.amazonaws.com.cn/source/onestop-f.gif" style="width: 100%;" alt="onestop">
      </div>
      <div class="service-content">
        <div class="flex align-items-center">
          <img src="../images/check.svg" class="icon mr" alt="check">
          {{ "Ouverture de compte gratuite + Données gratuites pour la première commande" }}
        </div>
        <div class="flex align-items-center mt-sm">
          <img src="../images/check.svg" class="icon mr" alt="check">
          {{ "Réalisation d'une démo gratuite de 2 minutes" }}
        </div>
        <div class="flex align-items-center mt-sm">
          <img src="../images/check.svg" class="icon mr" alt="check">
          {{ "Devis basé sur la langue, le contenu et le nombre de vidéos du client" }}
        </div>
        <div class="flex align-items-center mt-sm">
          <img src="../images/check.svg" class="icon mr" alt="check">
          {{ "Super rentable, 30 à 50 % moins cher que le prix du marché" }}
        </div>
        <div class="flex-center">
          <div class="learnBtn mt-lg" @click="contactService('Contactez-Nous')">{{'Contactez-Nous'}}</div>
        </div>
        
      </div>
      <div class="sys-info mt-lg">
        <div class="content">{{"Service B: produit SaaS de traduction assistée par l'IA"}}</div>
        <div class="font-md mb">{{"Obtenez un système de traduction digitale en une minute, idéal pour les équipes/particuliers disposant de leurs propres traducteurs"}}</div>
        <div class="flex align-items-center mt-xs">
          <img src="../images/AI.png" class="icon-xs mr-sm" alt="ai">
          {{ "Transcription  et traduction par l'IA + timeline par l'IA + Fusionnement des vidéos sur le cloud" }}
        </div>
        <div class="flex align-items-center mt-xs">
          <img src="../images/huge.png" class="icon-xs mr-sm" alt="massive">
          {{ "Le système de gestion de projet permet à un seul administrateur de gérer facilement un grand nombre de vidéos" }}
        </div>
        <div class="flex align-items-center mt-xs">
          <img src="../images/cloud.png" class="icon-xs mr-sm" alt="cloud">
          {{ "Nombre illimité de personnes collaborant sur le cloud" }}
        </div>
        <div class="flex align-items-center mt-xs">
          <img src="../images/service.png" class="icon-xs mr-sm" alt="service">
          {{ "Assistance en direct du service clientèle" }}
        </div>
        <img class="lower-img mt" src="../images/lower-fr.png" alt="lower_cost">
      </div>
      
    </div>

    <div class="packages flex-center pb-lg">
      <!-- <div class="package-top flex-center">
        <div class="package-hd flex text-muted font-md">
          <div :class="'package-name' + (active_pkg == 'data_p' ? ' active_pname': '')" @click="changePkg('data_p')">Pack de données</div>
          <div :class="'package-name' + (active_pkg == 'fixed_p' ? ' active_pname': '')" @click="changePkg('fixed_p')">Forfait fixe</div>
          <div :class="'package-name' + (active_pkg == 'custom_p' ? ' active_pname': '')" @click="changePkg('custom_p')">Forfait personnalisé</div>
        </div>
      </div> -->
      <div class="package-top flex-center"></div>
      <div class="package-bd flex">
        <!-- <template v-if="active_pkg == 'fixed'"> -->
          <div v-for="(item, index) in active_pkgs" :key="index" :class="'flex-center ' + (active_index == index ? 'active_p': 'inactive_p')" @mouseenter="active_index = index" @mouseleave="active_index = -1">
            <div :class="'package' + (active_index == index ? ' active_package': '')">
              <div :class="'package-title flex-center' + (active_index == index ? ' text-white': '')">
                {{ item.title }}
              </div>
              <div :class="'package-price text-primary mt-lg' + (active_index == index ? ' text-white': '')">
                <span v-if="index == 0"><span class="font-2x">${{ item.price }}</span>/min</span>
                <span v-if="index == 1 || index == 2 || index == 3"><span class="font-2x">${{ item.price }}</span>/Mois</span>
                <span v-if="index == 4"><span class="font-2x">>{{ item.size }}</span> min/Mois</span>
              </div>
              <div :class="'package-size text-primary flex-center mt-sm mb-lg font-sm' + (active_index == index ? ' text-white': '')">
                <!-- <span v-if="active_pkg =='data_p'">{{ item.size }} 分钟</span> -->
                <span v-if="index == 1 || index == 2 || index == 3">{{ item.size }} min</span>
                <span v-if="index == 4">Prix personnalisé</span>
              </div>
              <div style="height: 210px;;width: 135px;margin: 0 auto;">
                <div v-for="(tip, index_t) in item.tips" :key="index_t" :class="'tip mb-xs text-primary flex align-items-center  font-sm' + (active_index == index ? ' text-white': '')">
                  <img v-if="active_index == index" src="../images/check-o.svg" class="icon-mini mr-sm" alt="check">
                  <img v-else src="../images/check-u.svg" class="icon-mini mr-sm" alt="check">
                  {{ tip }}
                </div>
              </div>
              <div class="flex-center">
                <a :class="'pkg-btn' + (active_index == index ? ' activepkg-btn': '')" @click="jumpMgrLogin('Essai gratuit', item.title)">Essai gratuit</a>
              </div>
            </div>
          </div>
        <!-- </template> -->
      </div>
    </div>

  </div>

  <!-- 平台 5 大特色 -->
  <div id="feature">
    <div class="features">
      <div class="feature-block flex-center">
        <el-divider class="grey-divider">{{ "5 principales caractéristiques de la plateforme" }}</el-divider>

        <div class="feature-top flex">
          <div v-for="(item, index) in cn_top_features" :class="'feature-card-en pl-sm pr-sm pb mt flex bg-white' + (active_card == item.key ? ' active_card': '')" @click="changeFeature(item)">
            <div class="wrap-mask"></div>
            <div style="height: 150px;">
              <div class="flex">
                <div class="feature-title font-md">{{ item.title }} →</div>
              </div>
              <div class="" :class="'feature-des text-grey' + (active_card == item.key ? ' text-white': '')">{{ item.des }}</div>
            </div>
          </div>
        </div>

        <!-- <div class="feature-bt flex pt-lg">
          <div v-for="(item, index) in cn_bt_features" :class="'feature-card-en pl pr pb mt flex bg-white' + (active_card == item.key ? ' active_card': '')" @click="changeFeature(item)">
            <div class="wrap-mask"></div>
            <div style="height: 150px;">
              <div class="flex">
                <div class="feature-title font-md">{{ item.title }} →</div>
              </div>
              <div class="" :class="'feature-des font-sm text-grey mt-xs' + (active_card == item.key ? ' text-white': '')">{{ item.des }}</div>
            </div>
          </div>
        </div> -->
      </div>

      <div class="feature-carousel bg-white flex-center">
        <div class="carousel-bd">
          <el-carousel ref="carousel" :autoplay="false" type="card" arrow="always" @change="carouselChange">
            <el-carousel-item v-for="(item, index) in active_feature" :key="index" class="flex-center">
              <div class="bg-white flex-center">
                <img :src="'../images/feature/fr/fr' + item + '.png'" class="carousel-img" alt="features">
              </div>
            </el-carousel-item>
          </el-carousel>
        </div>
      </div>
    </div>
  </div>

  <!-- 客户评价 -->
  <div id="client">
    <div class="clients">
      <div class="client-block flex-center">
        <el-divider>{{ 'Avis du client' }}</el-divider>
      </div>

      <div class="client-bd mt-lg pb-hg">
        <transition name="custom-classes-transition" enter-active-class="animated fadeInRight"
        leave-active-class="animated fadeOutLeft">
          <div v-if="client.company" class="client-item flex">
            <div class="client-header">
              <div class="client-word">“{{client.word}}”</div>
              <div class="client-name mt-lg">{{client.company}}</div>
            </div>
            <img :src="client.url" class="client-img ml-hg" alt="client_logo">
          </div>
        </transition>

        <div class="scrollbar">
          <!-- <el-scrollbar :native="false"> -->
            <div class="flex space-between">
              <div v-for="(item, index) in clientList" :key="index" @click="changeClient(index)">
                <img :src="item.url" :class="'clients-img' + (active_client == index ? ' border-bottom': '')" alt="client_logo">
              </div>
            </div>
          <!-- </el-scrollbar> -->
        </div>
      </div>

    </div>
  </div>

  <!-- 联系我们 -->
  <div id="contact">
    <div class="contact pt-hg">
      <div class="contact-block">
        <el-divider>{{ 'Contactez nous' }}</el-divider>
      </div>
      <div class="contact-bd flex mt-hg pb-hg" v-if="region == 'CN'">
        <div class="flex column justify-content-center">
          <img src="../images/qrCode.png" class="qr-code" alt="qrcode">
          <div class="flex-center">{{ 'Translai Compte de service' }}</div>
        </div>
        <div class="flex column text-bold ml-hg column-wechat">
          <div class="flex align-items-center mb-lg">
            <img src="../images/email.png" class="contact-icon mr" alt="email">
            {{ 'Email: contact@translai.cloud' }}
          </div>
          <div class="flex align-items-center mb-lg">
            <img src="../images/wechat.png" class="contact-icon mr" alt="wechat">
            {{ 'Wechat: 13641838549' }}</div>
          <div class="flex align-items-center">
            <img src="../images/phone.png" class="contact-icon mr" alt="phone">
            {{ 'Téléhone: 4008344504' }}
          </div>
        </div>
      </div>
      <div class="contact-bd flex mt-hg pb-hg" v-else>
        <div class="flex column text-bold column-wechat">
          <span><el-input class="message-input mb" v-model="name" :required="true" placeholder="Nom" maxlength="60" /></span>
          <span><el-input class="message-input mb" v-model="email" :required="true" placeholder="Email" maxlength="255"/></span>
          <span><el-input class="message-input" v-model="message" type="textarea" :autosize="{ minRows: 5, maxRows: 5}" :required="true" placeholder="Message" maxlength="200" show-word-limit/></span>
          <div class="submit" @click="addContact()">{{'Soumettre'}}</div>
        </div>

        <div class="flex column justify-content-center">
          <img src="../images/contactus.png" class="message-icon" alt="contact_us">
        </div>
      </div>
    </div>
  </div>

  <footer class="app-footer">
    <div class="footerMain" v-if="region == 'CN'">
      <img src="../images/logo.png" class="logo" alt="logo" />
      <div class="container">
        <div class="footer_info">Translai是AI人机交互数字化语言服务云平台，我们立足于翻译科学，致力于将先进的AI、云计算和大数据研究成果赋能全球本地化产业，推动语言服务数字化。</div>
        <div class="footer_addr">地址：上海市静安区万荣路1268号市北高新云立方A座四层</div>
        <div class="footer_tel">联系电话：4008344504</div>
        <div class="footer_beian flex-center">
          <div>上海臻柚科技有限公司</div>
          <div class="ml">沪ICP备20012005</div>
          <div class="ml-xs flex-center">
            <a target="_blank" rel="nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010602005602" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../images/beian.png" style="float:left;" alt="beian" /><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">沪公网安备 31010602005602号</p></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footerMain_fo pb" v-else>
      <div class="fo_addr flex-center">Floor 4, Building A, No.1268 Wanrong Road, Shanghai, PRC, 200436</div>
      <div class="fo_contact flex-center mt">
        <div><a target="#blank" rel="nofollow" href="https://www.linkedin.com/company/31568982"><img src="../images/footer_1.png" class="contact-icon mr-lg" alt="linkedin" /></a></div>
        <div><a target="#blank" rel="nofollow" href="https://twitter.com/Transflow2"><img src="../images/footer_2.png" class="contact-icon mr-lg" alt="twitter" /></a></div>
        <div><a target="#blank" rel="nofollow" href="https://www.facebook.com/Transflow-105360231300363/"><img src="../images/footer_3.png" class="contact-icon mr-lg" alt="facebook" /></a></div>
      </div>
      <!-- <div class="fo_policy flex-center">
       <div v-on:click="showTermService" style="border-bottom: 1px solid black;padding-bottom: 3px;">Terms & Condition</div>
       <div style="width: 15px;border-right: 1px solid black;">&nbsp;</div>
       <div style="width: 15px;">&nbsp;</div>
       <div v-on:click="showPrivacyPolicy" style="border-bottom: 1px solid black;padding-bottom: 3px;">Privacy Policy</div>
      </div> -->
    </div>
    <!-- <term-service ref="termService"></term-service>
    <privacy-policy ref="privacyPolicy"></privacy-policy> -->
  </footer>

  <!-- 联系客服 -->
  <div v-if="region == 'CN'" class="contact-service" data-agl-cvt="1">
    <div :class="'service-icon flex-center ' + (ishover ? ' larger': '')" @mouseenter="mouseenter">
      <img v-show="!ishover" src="../images/service.png" class="fixed-icon bg-white" />
      <img v-show="ishover" src="../images/wechat-theme.png" class="fixed-icon" />
    </div>
    <div v-if="ishover" class="qr-dialog bg-white flex-center column" @mouseleave="mouseleave">
      <div class="flex align-items-center">
        <img src="../images/xiaoya.png" class="xiaoya" />
        <div>
          <div class="font-md text-bold">Bonjour,</div>
          <div class="">veuillez scanner le code QR WeChat pour nous contacter !</div>
        </div>
      </div>
      <img src="../images/qrService.png" class="qr-service mt-sm" />
      <div class="flex-center mt-sm font-md text-bold">
        Téléhone: 4008344504
      </div>
    </div>
  </div>
  
</div>


<script src="../js/swiper.min.js"></script>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/common.js"></script>
<script src="../js/index.js"></script>
<script src="../js/sensorsdata.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>

  //神策埋点初始化
  var startTime = 0
  var endTime = 0
  var sensors = window['sensorsDataAnalytic201505'];
	sensors.init({
  	server_url: window.SC_URL,
    is_track_single_page: false, 
    use_client_time:true, 
    show_log: false,
    preset_properties: { search_keyword_baidu : true  },
    send_type:'beacon',
    heatmap: {
      clickmap:'default',
      scroll_notice_map:'default'
    }
	});

  sensors.registerPage({
    platform_type: 'Translai官网',
    language: window.APP_REGION.indexOf('CN') >= 0 ? (localStorage.getItem("lang") || "zh") : (localStorage.getItem("lang") || "en"),
  });

  sensors.quick('isReady',function(){
    let distinctid = sensors.quick('getAnonymousID');
    sessionStorage.setItem('AnonymousID', distinctid)
  });

  sensors.quick('autoTrack'); //用于采集 

  function videoPlay() {
    let video = document.getElementById('playVideo')
    let duration = document.getElementById('playVideo').duration
    startTime = video.currentTime
    sensors.track('start_video_play', {
      video_name: 'translai.mp4',
      video_duration: duration,
      video_position: video.currentTime
    })
  }

  function videoPause() {
    let video = document.getElementById('playVideo')
    let duration = document.getElementById('playVideo').duration
    startTime = video.currentTime
    sensors.track('start_video_play', {
      video_name: 'translai.mp4',
      video_duration: duration,
      video_position: video.currentTime
    })
  }
  

  new Vue ({
    el: '#app',

    data () {
      return {
        active_label: '',

        xiaoyaShow: false,
        isclick: false,
        ishover: false,

        name: '',
        email: '',
        message: '',

        region: '',
        isPlay: false,
        active_client: 0,
        client: {},
        initial: 0,
        width: document.documentElement.clientWidth + 'px',
        height: document.documentElement.clientHeight + 'px',

        showMenu: false,

        active_feature: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
        active_card: 'onestop',
        active_index: 0,
        active_pkgs: [
          { title: 'Pack de données', price:1.5, size: 100, tips: [
            'Ouverture gratuite du compte', "10 minutes d'essai gratuit du forfait de données", 'Recharge à la demande, validité permanente'
          ] },
          { title: 'Paquet de base', price:100, size: 100, tips: [
            'Ouverture gratuite du compte', "10 minutes d'essai gratuit du forfait de données", 'Comprend les 100 minutes de données dans le forfait'
          ] },
          { title: 'Forfait Intermédiaire', price:450, size: 500, tips: [
            'Ouverture gratuite du compte', "10 minutes d'essai gratuit du forfait de données", 'Comprend les 500 minutes de données dans le forfait'
          ] },
          { title: 'Forfait Premium', price:780, size: 1000, tips: [
            'Ouverture gratuite du compte', "10 minutes d'essai gratuit du forfait de données", 'Comprend les 1000 minutes de données dans le forfait'
          ] },
          { title: 'Forfait personnalisé', price:2, size: 1000, tips: [
            'Profitez de tous les avantages du forfait mensuelle', 'Profitez du prix de la collaboration par projet', 'Tutoriel individuel sur le processus de travail', 'Gestionnaire de compte exclusif'
          ] }
        ],
        data_p: [],
        custom_p: [],
        fixed_p: [],
        active_pkg: 'fixed_p',
        translai_video: window.APP_URL + "/file/common/transflow.mp4",
        web_url: window.WEB_URL,
        index_dom: '',
        offset: false,

        langShow: false,
        loginShow: false,
        
        lang: 'fr',

        active_step: 'upload',
        worksteps: ['upload', 'transcribe', 'proofreading', 'translation', 'manual', 'confirmation', 'download'],

        zhSteps: {
          upload: 'Télécharger une vidéo/audio',
          transcribe: 'Transcription IA + timecode',
          proofreading: 'Relecture manuelle',
          translation: 'Traduction par IA',
          manual: 'Relecture manuelle',
          confirmation: 'Révision en ligne',
          download: 'Télécharger des fichiers/vidéos SRT'
        },

        menuList: [
          { label: 'Acceuil', goto: "home" },
          { label: 'Processus de travail', goto: "workflow" },
          { label: 'Présentation', goto: "product" },
          
          { label: 'Aperçu de la plateforme', goto: "feature" },
          { label: 'Avis des clients', goto: "client" },
          { label: 'Contactez nous', goto: "contact" },
          { label: 'Essai gratuit', goto: "free" },
        ],

        cn_top_features: [
          { title: 'Une expérience à guichet unique', des: "Chargez, modifiez, Fusionnez les sous titres et téléchargez. Opération à guichet unique sur le Cloud, pas besoin de télécharger ou de passer à un autre logiciel", key: 'onestop' },
          { title: 'Processus interactif IA/homme', des: "Processus  interactif IA/homme, réduisant les coûts de main-d'œuvre de 30 à 50 %", key: 'workflow' },
          { title: 'Gestion de projet', des: "Un administrateur capable de gérer un grand nombre de projets de traduction et de traducteurs, ce qui réduit considérablement les coûts de gestion", key: 'project' },
          { title: "Personnalisation du traducteur", des: "Match specific translators according to client needs and provide long-term translation services", key: 'translator' },
          { title: 'Système double', des: "Les clients peuvent inviter des traducteurs à rejoindre leur équipe en ligne via une URL sécurisée", key: 'double' },
        ],
        cn_bt_features: [],

        clientList: [
          { company: 'Monsieur Zhao Chen, Directeur de la gestion commercial de Qingting.FM', word: "En tant que fournisseur de services linguistiques numérisés de nouvelle génération, Translai propose des services de traductions externalisées personnalisés et de hautes qualités, qui se différencient totalement des sociétés de traduction traditionnelles.", url: ('../images/logo/logo9.png')},
          { company: "Département de gestion de la chaîne d'approvisionnement du groupe d'assurance Dajia", word: "Translai se distingue des autres  concurrents, c'est la seule entreprise technologique à avoir obtenu l'appel d'offre et à devenir notre principal prestataire de services linguistiques.  Nous sommes impatients de voir Translai devenir un leader du secteur.", url: ('../images/logo/logo10.png')},
          { company: 'Dr Zhao, directeur de la conférence NG et développeur', word: " Les sous-titres bilingues chinois-anglais que Translai a fourni pour le NG+ La conférence des développeurs était la première du genre dans ce secteur, merci beaucoup !", url: ('../images/logo/logo4.png') },
          { company: 'Département marketing de Körber', word: "Nous sommes une entreprise internationale qui a régulièrement besoin de traduire des vidéos.  Lorsque nous avons reçu le devis de Translai, nous avons été agréablement surpris, les coûts étaient bien inférieurs à ceux des entreprises de traduction précédentes malgré une qualité aussi élevée, et ils ont même fourni une démo gratuitement.  Nous avons eu une expérience positive en travaillant avec Translai et nous recommandons cette société.", url: ('../images/logo/logo3.png')},
          { company: 'Spécialiste de la formation Tesa', word: "Nous avons apprécié travailler avec Translai, leur réponse était rapide, et le prix était économique.  Nous les recommandons vivement !", url: ('../images/logo/logo5.png')},
          { company: 'Service marketing de Pilz', word: "Nous avons eu l'occasion de travailler avec de nombreuses autres plateformes dans le passé, mais Translai est la meilleure en matière d'efficacité du service.  Nous nous réjouissons de cette collaboration à long terme.", url: ('../images/logo/logo1.png') },
          { company: 'Service marketing de WAGO', word: "En tant qu'entreprise internationale, nous avons toujours une demande de traduction de vidéos .  Cette année, nous avons travaillé avec Translai, dont les compétences sont élevées et le prix bas.  Nous sommes très satisfaits et les recommandons vivement.", url: ('../images/logo/logo2.png') },
        ],
        index_dom: '',
      }
    },

    mounted() {
      this.region = window.APP_REGION

      // if (localStorage.getItem("lang") == 'zh') document.location.href = 'index.html'
      // if (localStorage.getItem("lang") == 'en') document.location.href = 'index_en.html'

      window.addEventListener('scroll', () => {
        this.scrollShow();
      });
      this.$nextTick(() => {
        this.scrollShow();
      })
      let that = this;
      window.onresize = () => {
        return (() => {
          that.height = document.documentElement.clientHeight + 'px'; // 高
          that.width = document.documentElement.clientWidth + 'px'; // 宽
        })()
      }
    },

    created () {
      this.changeClient(0)
      // this.active_pkgs = this.fixed_p
    },

    methods: {
      mouseenter() {
        this.ishover = true
      },

      mouseleave() {
        this.ishover = false
      },

      mouseclick() {
        this.isclick = !this.isclick
      },

      addContact() {
        const temp = {
          name : this.name,
          email : this.email,
          message : this.message,
        }
        $.ajax ({
          url: window.APP_URL + '/api/gateway/user/addContact',
          dataType: 'json',
          type: 'post',
          data: JSON.stringify (temp),
          contentType: 'application/json',
        }).done (obj => {
          if (obj.err == 200) {
            this.$message.success('Soumis avec succès');
          } else {
            this.$message.error('Échec de la soumission');
          }
        })
      },

      carouselChange(index) {
        if (index < 3) {
          this.active_card = 'onestop'
        } else if (index < 5) {
        this.active_card = 'workflow'
        } else if (index < 7) {
        this.active_card = 'project'
        } else if (index < 9) {
        this.active_card = 'translator'
        } else {
        this.active_card = 'double'
        } 
      },

      playClick() {
        this.index_dom = document.getElementById('playVideo')
        let duration = document.getElementById('playVideo').duration

        const _this = this
        _this.index_dom.addEventListener('play', function () { //播放开始执行的函数
          // 视频播放埋点
          _this.startTime = _this.index_dom.currentTime
          sensors.track('start_video_play', {
            video_name: 'translai.mp4',
            video_duration: duration,
            video_position: _this.index_dom.currentTime
          })
        })

        _this.index_dom.addEventListener('pause', function () { //暂停开始执行的函数
          // 视频结束埋点
          _this.endTime = _this.index_dom.currentTime
          sensors.track('end_video_play', {
            video_name: 'translai.mp4',
            video_duration: duration,
            video_position: _this.index_dom.currentTime,
            video_play_duration: parseFloat(_this.endTime - _this.startTime)
          })
        })

        _this.index_dom.addEventListener('ended', function () { //结束
          // 视频播放埋点
          _this.endTime = _this.index_dom.currentTime
          sensors.track('end_video_play', {
            video_name: 'translai.mp4',
            video_duration: duration,
            video_position: _this.index_dom.currentTime,
            video_play_duration: parseFloat(_this.endTime - _this.startTime)
          })
        }, false)

        _this.index_dom.play();
        _this.isPlay = !_this.isPlay
      },
      
      changeClient(index) {
        this.active_client = index
        this.client = Object.assign({})
        this.$nextTick(() => {
          this.client = Object.assign({}, this.clientList[index])
        })
      },

      changeFeature(item) {
        this.active_card = item.key
        if (item.key == 'onestop') this.$refs.carousel.setActiveItem(0)
        if (item.key == 'workflow') this.$refs.carousel.setActiveItem(3)
        if (item.key == 'project') this.$refs.carousel.setActiveItem(5)
        if (item.key == 'translator') this.$refs.carousel.setActiveItem(7)
        if (item.key == 'double') this.$refs.carousel.setActiveItem(9)
        sensors.track('click_platform_feature', {
          feature_name: item.title
        })
      },

      changePkg(pkg) {
        this.active_pkg = pkg
        
        if (pkg == 'custom_p') this.active_pkgs = this.custom_p
        if (pkg == 'data_p') this.active_pkgs = this.data_p
        if (pkg == 'fixed_p') this.active_pkgs = this.fixed_p

        this.active_index = 0
      },
      /**
     * @desc: 查看工作流
     */
     newStep(step) {
        this.active_step = step
        // 查看工作流埋点
        sensors.track('click_workflow', {
          process_name: this.zhSteps[step],
        })
      },
      scrollShow() {
        let scrollTop  = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
        let viewHeight = document.documentElement.clientHeight || document.body.clientHeight;
        if (scrollTop > 10) {
          if (!this.offset) this.offset = true;
        } else {
          if (this.offset) this.offset = false;
        }

        let refArray = ['#workflow', '#product', '#feature', '#client', '#contact'];
        refArray.forEach(dom => {
          if ($(dom).length) {
            let top = $(dom)[0].offsetTop;
            if(scrollTop + viewHeight > top + 120){
              $(dom).addClass("divAnimation");
            }
            // if ($(dom).selector == '#price') {
            //   document.getElementById('onestopVideo').play()
            // }
          }
        });
      },

      // 点击顶部导航栏埋点
      clickTopNavigation(label) {
        sensors.track('click_top_navigation_bar', {
          button_name: label,
        })
        this.showMenu = false
        this.active_label = label
      },
      /**
       * 跳转Mgr登陆页
       */
      jumpMgrLogin(button_name, package_name) {
        // 点击免费试用埋点
        sensors.track('click_trial', {
          package_name: package_name ? package_name : '',
          button_name: button_name
        })
        document.location.href = window.MGR_URL;
      },

      contactService(button_name, package_name) {
        sensors.track('click_trial', {
          package_name: package_name ? package_name : '',
          button_name: button_name
        })
        document.location.href = '#contact'
      },

      toQa() {
        document.location.href = window.WEB_URL + '/base/qa'
      },

      changeLang(command) {
        if (command == 'zh') {
          this.lang = 'zh'
          localStorage.setItem('lang', command)
          window.location.href = '../cn/index.html'
        }
        if (command == 'en') { 
          this.lang = 'en'
          localStorage.setItem('lang', command)
          window.location.href = '../en/index.html'
        }
        if (command == 'fr') { 
          this.lang = 'fr'
          localStorage.setItem('lang', command)
          window.location.href =  '../fr/index.html'
        }
        this.langShow = false
      },

      toLogin(url) {
        if (url=='mgr') document.location.href = window.MGR_URL + '/gateway/login'
        if (url=='web') document.location.href = window.WEB_URL
        if (url=='dms') document.location.href = window.DMS_URL + '/gateway/login'
        this.loginShow = false
        sensors.track('click_register_button')
      }
    },
    
  })

</script>
</body>
</html>
